<app-navbar></app-navbar>
<div class="food-ticker">

  <div class="ticker-track">

    <div class="ticker-items">

      <span>☕ Hot Coffee ₹20</span>

      <span>🍵 Masala Tea ₹15</span>

      <span>🥪 Veg Sandwich ₹60</span>

      <span>🥟 Veg Puff ₹35</span>

      <span>🥜 Mixed Dry Fruits ₹80</span>

      <span>🍌 Banana ₹15</span>

      <span>🥗 Fresh Salad ₹70</span>

      <span>🍛 Today's Lunch ₹120</span>

      <span>🥛 Cold Coffee ₹50</span>

      <span>🍪 Cookies ₹25</span>

      <span>🥤 Fresh Juice ₹45</span>

      <span>🍫 Chocolate Brownie ₹65</span>

    </div>


    <div class="ticker-items" aria-hidden="true">

      <span>☕ Hot Coffee ₹20</span>

      <span>🍵 Masala Tea ₹15</span>

      <span>🥪 Veg Sandwich ₹60</span>

      <span>🥟 Veg Puff ₹35</span>

      <span>🥜 Mixed Dry Fruits ₹80</span>

      <span>🍌 Banana ₹15</span>

      <span>🥗 Fresh Salad ₹70</span>

      <span>🍛 Today's Lunch ₹120</span>

      <span>🥛 Cold Coffee ₹50</span>

      <span>🍪 Cookies ₹25</span>

      <span>🥤 Fresh Juice ₹45</span>

      <span>🍫 Chocolate Brownie ₹65</span>

    </div>

  </div>

</div>

<app-famousdish></app-famousdish>
<app-hero>  </app-hero>