<div class="container-fluid p-0">
  <div class="d-flex">

    <!-- Sidebar -->
    <aside
      class="sidebar text-white"
      [class.sidebar-collapsed]="isCollapsed"
    >

      <!-- Brand + Toggle -->
      <div class="d-flex align-items-center justify-content-between px-3 py-4">

        <h3
          class="fw-bold mb-0 brand"
          *ngIf="!isCollapsed"
        >
          Jode<span class="text-warning">Tx</span>
        </h3>

        <button
          class="toggle-btn"
          (click)="toggleSidebar()"
        >
          <i
            class="fa-solid"
            [class.fa-angle-left]="!isCollapsed"
            [class.fa-angle-right]="isCollapsed"
          ></i>
        </button>

      </div>


      <!-- Main -->
      <p
        class="section-title px-3"
        *ngIf="!isCollapsed"
      >
        MAIN
      </p>

      <ul class="list-unstyled px-2">

        <li>
          <a
            routerLink="/dash/home"
            routerLinkActive="active-link"
            class="sidebar-link"
          >
            <i class="fa-solid fa-house"></i>

            <span *ngIf="!isCollapsed">
              Dashboard
            </span>
          </a>
        </li>


        <li>
          <a
            routerLink="/dash/order"
            routerLinkActive="active-link"
            class="sidebar-link"
          >
            <i class="fa-solid fa-cart-shopping"></i>

            <span *ngIf="!isCollapsed">
              Orders
            </span>
          </a>
        </li>

      </ul>


      <div *ngIf="!isCollapsed">
        <hr class="sidebar-divider">

        <p class="section-title px-3">
          MANAGEMENT
        </p>
      </div>


      <ul class="list-unstyled px-2">

        <li>
          <a class="sidebar-link" routerLink="/dash/inventory" routerLinkActive="active-link" >

            <i class="fa-solid fa-boxes-stacked"></i>

            <span *ngIf="!isCollapsed">
              Inventory
            </span>

          </a>
        </li>


        <li>
          <a class="sidebar-link" routerLink="/dash/employeee" routerLinkActive="active-link">

            <i class="fa-solid fa-users"></i>

            <span *ngIf="!isCollapsed">
              Employees
            </span>

          </a>
        </li>


        <li>
          <a class="sidebar-link" routerLink="/dash/revenue" routerLinkActive="active-link">

            <i class="fa-solid fa-chart-line"></i>

            <span *ngIf="!isCollapsed">
              Revenue
            </span>

          </a>
        </li>


      </ul>


      <div *ngIf="!isCollapsed">
        <hr class="sidebar-divider">

        <p class="section-title px-3">
          SYSTEM
        </p>
      </div>


      <ul class="list-unstyled px-2">

        <li>
          <a class="sidebar-link" routerLink="/dash/setting" routerLinkActive="active-link">

            <i class="fa-solid fa-gear"></i>

            <span *ngIf="!isCollapsed">
              Settings
            </span>

          </a>
        </li>


        <li>
          <a class="sidebar-link logout-link" routerLink="/admin-login">

            <i class="fa-solid fa-right-from-bracket"></i>

            <span *ngIf="!isCollapsed">
              Logout
            </span>

          </a>
        </li>

      </ul>

    </aside>


    <!-- Main Content -->
    <main class="main-content flex-grow-1">

      <router-outlet></router-outlet>

    </main>

  </div>
</div>