

<section class="hero-section py-5">

  <div class="container">

    <div class="row align-items-center g-5">

      <!-- LEFT SIDE: IMAGE -->
      <div class="col-lg-6 text-center">

        <img
          src="/images/bgimage.jpg"
          alt="Burger"
          class="img-fluid hero-image"
        >

      </div>

      <div class="col-lg-6">

        <span class="badge bg-warning text-dark rounded-pill px-3 py-2 mb-3">
          ⭐ #1 Rated Fast Food Restaurant
        </span>

        <h1 class="display-3 fw-bold mb-3">
          Delicious
          <span class="text-danger">Fast Food</span>
          for Every Moment
        </h1>

        <p class="lead text-secondary mb-4">
          Experience bold flavours made from fresh ingredients.
          Explore burgers, pizzas, drinks, and delicious meals.
        </p>

        <div class="d-flex flex-wrap gap-3">

          <button class="btn btn-danger rounded-pill px-4 py-3 fw-bold" routerLink="/menu">
            Explore Menu
          </button>

          <button class="btn btn-outline-dark rounded-pill px-4 py-3 fw-bold">
            Watch Our Story
          </button>

        </div>

      </div>

    </div>

  </div>

</section>