.footer{
    background:#0b0f0c;
}

.footer-link{
    display:block;
    color:#adb5bd;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-link:hover{
    color:#ffc107;
    padding-left:6px;
}

.social-icon{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:#1b261d;
    color:white;
    text-decoration:none;
    transition:.3s;
}

.social-icon:hover{
    background:#ffc107;
    color:black;
    transform:translateY(-4px);
}

.form-control{
    border:none;
}

.form-control:focus{
    box-shadow:none;
}