<div class="container py-5">

    <h2 class="text-center fw-bold mb-5">
        Famous Dishes
    </h2>

    <div class="row g-4">

        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍔</h4>

                <h5>Burger</h5>

            </div>

        </div>
        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍔</h4>

                <h5>Burger</h5>

            </div>

        </div>
        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍔</h4>

                <h5>Burger</h5>

            </div>

        </div>
        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍔</h4>

                <h5>Burger</h5>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍕</h4>

                <h5>Pizza</h5>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center shadow border-0 p-3">

                <h4>🍟</h4>

                <h5>Fries</h5>

            </div>

        </div>

    </div>

</div>